{% import 'macro' as macro %}
<!DOCTYPE html>
<html lang="ch">
    <head>
        <title>疫情可视化分析</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, user-scalable=no" />
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

    </head>
    <body>
    
    <div id="middle">
	

	
        <div id="right_top">
            <h2 style="text-align: center; color:#42638e">疫情可视化分析</h2>
			<h3 style="text-align: center; color:#42638e"><a href="http://127.0.0.1:8000/">整体数据 &nbsp &nbsp </a><a href="http://127.0.0.1:8000/move/">迁徙数据 </a></h3>
        </div>

        <div id="right1">
{% import 'macro' as macro %} {{ macro.render_chart_dependencies(chart) }} {{ macro.render_chart_css(chart) }} {{ macro.generate_tab_css() }} {{ macro.display_tablinks(chart) }}
{% for c in chart %} {% if c._component_type in ("table", "image") %} {{ macro.gen_components_content(c) }} {% else %} {{ macro.render_chart_content(c) }} {% endif %} {% endfor %}
{{ macro.switch_tabs() }}

        </div>
    </div>

    </body>


</html>